<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://robbinfan.com/" target="_blank" title="Robbin's Blog">Robbin's Blog</a></li>
      <li><a href="http://www.zhengmenbb.com/" target="_blank" title="Zack's Blog">Zack's Blog</a></title>
      <li><a href="http://hexo.io" target="_blank" title="Hexo">Hexo</a></li>
    </ul>
</div>
